<app-navbar></app-navbar>

<div class = "container-fluid">
  <h1>Roofs Sorted By Distance Descending Order</h1><br><br>
<table class ="table table-hover tab">

    <thead class = "head">
      <th>Distance</th> 
      <th>Rate</th> 
      <th>ProjectSize</th> 
      <th>DateOfComplition</th> 
    </thead>

    <tbody>
       <tr *ngFor ="let desc of distdescall">
         <td class = "disfield">{{desc.Distance}}</td>
         <td>{{desc.Rate}}</td>
         <td>{{desc.ProjectSize}}</td>
         <td>{{desc.DateOfComplition}}</td>
       </tr>
    </tbody>
    
<table>
  

      
      
      
      
          
