.container-fluid{
    margin-bottom: 50px;
    padding:100px;
    background-color: whitesmoke;
}
h1
{   color:cyan;
    text-align: center;
    
}
.head{
    color: black;
}
.tab{
    border:2px solid gray;
  border-bottom: none;
    border-top: 5px solid greenyellow;
}
h1:hover{
   color: lime;
    cursor: pointer;
}