.container{
    padding:100px;
    background-color: whitesmoke;


}
label{
    
      color:purple;
}
label:hover{
     color:red;
     cursor: pointer;
}
h2{
    color:lime;

}
h2:hover{
    color:cyan;
    cursor: pointer;
}
