<app-navbar></app-navbar>

<div class = "container-fluid">
  <h1>About The Company</h1><br><br>
<p>
  Get Me Roof aims to make property purchase experience hassle free with insights and updates which can be useful for Buyers.

While property purchase life cycle has multiple phases – discovery, shortlisting, comparisons, negotiations, financing and closure, at each step we aspire to help Buyers make informed decisions before they close on their dream property. Read our well crafted Home Buying Guide for step by step guidance around home buying.
</p>
<h2>Follow us on following platforms for regular updates</h2>

<ul>
<li><a href ="https://www.facebook.com/getmeroof">FaceBook</a></li>
<li><a href ="https://twitter.com/getmeroof">Twitter</a></li>
<li><a href ="https://www.quora.com/Get-Me-Roof">Quora</a></li>
<li><a href ="https://medium.com/@getmeroof">Medium</a></li>
<li><a href ="https://www.linkedin.com/company/get-me-roof">LinkedIn</a></li> 
</ul>
</div>

