.droplabel{
   color: lime;
   text-align: center;
   padding: 2px;
}
.line{
    margin-top: 5px;
    color:red;
}
.main:a{
    color: lime;
    font-weight: bold;
}
.line{
    color: red;
    size:2px;
}
.content{
    color:black;
    padding: 2px;
}
.content a :hover{
    background-color: lightgreen;
}