<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark navborder main">
      <a class="navbar-brand main" href="/home">GetMeRoof</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li [routerLinkActive] = "['active']" class="nav-item highlight">
            <a  [routerLink]="['/home']" class="nav-link" href="/home">HOME</a>
          </li>
          
          <li [routerLinkActive] = "['active']" class="nav-item highlight ">
            <a  [routerLink]="['/sort']" class="nav-link" href="/sort">SORT</a>
          </li>
       </ul>

          <ul class = "nav navbar-nav navbar-right">
          <li [routerLinkActive] = "['active']" class="nav-item highlight">
            <a [routerLink]="['/register']" class="nav-link" href="/register">REGISTER</a>
          </li>
          
         </ul>
          </div>
    </nav>