.highlight :hover{
    background-color: lightgray;
    border:none;
    border-radius: 10px;
    color:green;
    width: 150px;
    height: 40px;
    text-align: center;
}
.navborder{
    border-radius: 8px;
    margin-top: 3px;
}
.main{
    font-family: 'kotta one',serif;
    font-size: 22px;
}