<app-navbar></app-navbar>


<div class = "container-fluid">
  <h1> Roofs Sorted By ProjectSize</h1><br><br>
<table class ="table table-hover tab">

    <thead class = "head">
      <th>Distance</th> 
      <th>Rate</th> 
      <th>ProjectSize</th> 
      <th>DateOfComplition</th> 
    </thead>

    <tbody>
       <tr *ngFor ="let length of size">
         <td>{{length.Distance}}</td>
         <td>{{length.Rate}}</td>
         <td class="sizefield">{{length.ProjectSize}}</td>
         <td>{{length.DateOfComplition}}</td>
       </tr>
    </tbody>
    
<table>
  
      
      
      
      
          
