
<app-navbar></app-navbar>
<div class = "container-fluid">
  <h1>Roofs Sorted By Date Of Complition</h1><br><br>
<table class ="table table-hover tab">

    <thead class = "head">
      <th>Distance</th> 
      <th>Rate</th> 
      <th>ProjectSize</th> 
      <th>DateOfComplition</th> 
    </thead>

    <tbody>
       <tr *ngFor ="let descD of datedescall">
         <td>{{descD.Distance}}</td>
         <td>{{descD.Rate}}</td>
         <td>{{descD.ProjectSize}}</td>
         <td class="datefield">{{descD.DateOfComplition}}</td>
       </tr>
    </tbody>
    
<table>
  

      
      
      
      
          
